  
<div class="offcanvas offcanvas-start text-bg-dark" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Trapti Bairagi</h1>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul>
    <li class="menu"><a href="home">Home</a></li>
    <li class="menu"><a href="about">About</a></li>
    <li class="menu"><a href="projects">Projects</a></li>
    <li class="menu"><a href="contact">Contact</a></li>
    </ul>
    
  </div>
</div>

<div class="container-fluid">
  
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    
    <div class="container">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </button>
</div>


